<script>
import Theme from '../../theme.json';
import Locs from '../Todos/country_list.json';
import moment from 'moment';
import server from '../../feathers-client';
import {useQueryClient, useQuery} from "vue-query";
import useAuthHook from '../hooks';

export default {
  data() {
    return {
      theme: Theme,
      processing: false,
      show_datepicker: false,
      formData: {
        name: null,
        description: null,
        deadline: new Date(),
        createdAt: new Date(),
        startedAt: new Date(),
        current_location: '',
        isDeleted: false,
        isDone: false,
        device: 'web',
        user: null
      }
    }
  },
  setup() {
    const queryClient = useQueryClient();
    const {reAuth} = useAuthHook();
    const {data} = useQuery('CURRENT_LOGIN_USER', reAuth, {staleTime: Infinity, cacheTime: Infinity});
    
    if(!data.value) {
      window.location.assign("/")
    } else {
      const currentLoginUserId = data.value._id;
      
      return {
        queryClient,
        currentLoginUserId
      }
    }
  },
  mounted() {
    const picker = Math.floor(Math.random() * 60);
    const selected_loc = Locs.locations[picker];
    this.formData.current_location = selected_loc;
  },
  methods: {
    moment: function (val) {
      return moment(val);
    },
    _onLogout() {
      server.logout();
      this.queryClient.setQueryData('CURRENT_LOGIN_USER', null);
      this.$router.replace('/login');
    },
    _onStartImmediately() {
      if(!this.formData.startedAt) {
        this.formData.startedAt = new Date()
      } else {
         this.formData.startedAt = null
      }
    },
    validateForm(frm) {
        return new Promise((resolve, reject) => {
            const {name, description, current_location, deadline} = frm;

            if(name && name.length < 1 || !name) {
                reject({message: 'Name must not be empty', type: 'validation'});
            }

            if(description && description.length < 1 || !description) {
                reject({message: 'Description must not be empty', type: 'validation'});
            }

            if(current_location && current_location.length < 1 || !current_location) {
                reject({message: 'Current location must not be empty', type: 'validation'});
            }

            if(name && name.length < 2) {
                reject({message: 'Name must be greater than 2 characters.', type: 'validation'});
            }

            if(description && description.length < 2) {
                reject({message: 'Description description must be greater than 2 characters.', type: 'validation'});
            }

            if(current_location && current_location.length < 2) {
                reject({message: 'Current must be greater than 2 characters', type: 'validation'});
            }

            if(!deadline) {
                reject({message: 'Please set a deadline.', type: 'validation'});
            }

            resolve('success');
        })
    },
    async _onSave() {
      if(this.processing) return;

      try {
        this.processing = true

        const valRes = await this.validateForm(this.formData);

        if(valRes !== 'success') return;

        if(!this.currentLoginUserId) {
          this.$toast.open({
            message: 'Something wrong with authentication. Please refresh the page and try again.',
            position: 'top-right',
            type: 'error'
          });
          return;
        }

        this.formData['user'] = this.currentLoginUserId;

        const todoService = server.service('todos');
        const onCreateTodo = await todoService.create({...this.formData, pushToken: null});

        this.formData = {
          name: null,
          description: null,
          deadline: new Date(),
          createdAt: new Date(),
          startedAt: null,
          current_location: '',
          isDeleted: false,
          isDone: false,
          device: 'web',
          user: null
        }

        this.queryClient.invalidateQueries(['TODO_LIST']);

        this.processing = false;
        this.$toast.open({
          message: `Todo has been successfully deleted.`,
          position: 'top-right',
        });

        return onCreateTodo;
      } catch (error) {
        this.processing = false;
        this.$toast.open({
          message: error.message,
          position: 'top-right',
          type: 'error'
        });
      }
    },
    _onSelectDate() {
      
    },
    _onShowDatePicker(val) {
      this.show_datepicker = val;
    },
    _backToList() {
      this.$router.push('/todos');
    }
  }
}
</script>

<template>
  <div class="page-body">

    <template v-if="show_datepicker">
      <div id="loading-screen">
        <DatePicker v-model="formData.deadline" mode="dateTime" />
        <button id="done-btn" @click="_onShowDatePicker(false)">Done</button>
      </div>
    </template>

    <div id="page-header" :style="{background: `${theme.primary}`}">
      <div class="side-header" id="header-title">NEW TODO</div>
      <div :style="{display: 'flex', flex: 1}"></div>
      <button class="side-header" id="logout-button" @click="_onLogout">
        <font-awesome-icon icon="right-from-bracket" :style="{color: `${theme.secondary}`}" size="2x" />
      </button>
    </div>

    <div id="todo-form-body">

      <div id="back-btn-wrapper">
        <button @click="_backToList" id="add-todo-button" :style="{background: `${theme.primary}`}">Back</button>
      </div>

      <div class="input-field" id="field-white-bg">
        <div class="icon-container left-padding-ic-con" >
          <div class="icon-wrapper" :style="{background: `${theme.primary}`}">
            <font-awesome-icon icon="list" :style="{color: `${theme.secondary}`}" size="1x" />
          </div>
        </div>

        <input 
          type="name" 
          class="form-input" 
          name="name"
          placeholder="Enter todo name"
          v-model="formData.name"
        >
      </div>

      <div class="input-field" id="field-white-bg">
        <div class="icon-container left-padding-ic-con" >
          <div class="icon-wrapper" :style="{background: `${theme.primary}`}">
            <font-awesome-icon icon="circle-info" :style="{color: `${theme.secondary}`}" size="1x" />
          </div>
        </div>

        <input 
          type="description" 
          class="form-input" 
          name="description"
          placeholder="Enter description"
          v-model="formData.description"
        >
      </div>

      <div class="input-field" id="field-white-bg" @click="_onShowDatePicker(!show_datepicker)">
        <div class="icon-container left-padding-ic-con" >
          <div class="icon-wrapper" :style="{background: `${theme.primary}`}">
            <font-awesome-icon icon="calendar-days" :style="{color: `${theme.secondary}`}" size="1x" />
          </div>
        </div>

        <div 
          type="deadline" 
          class="form-input labletype" 
          name="deadline"
        >{{moment(formData.deadline).format('MMMM DD YYYY hh:mm a')}}</div>
      </div>

      <div class="input-field" id="field-white-bg" @click="_onStartImmediately">
          <div class="icon-container left-padding-ic-con">
            <div class="icon-wrapper reverse-color" :style="{background: `${theme.secondary}`}">
              <template v-if="formData.startedAt">
                <font-awesome-icon icon="check" :style="{color: `${theme.primary}`}" size="1x" />
              </template>
            </div>
          </div>

          <div class="form-input reduce-form-sm fi-label" >
            Start Immediately
          </div>
        </div>

      <div class="input-field" id="field-white-bg">
        <div class="icon-container left-padding-ic-con" >
          <div class="icon-wrapper" :style="{background: `${theme.primary}`}">
            <font-awesome-icon icon="map" :style="{color: `${theme.secondary}`}" size="1x" />
          </div>
        </div>

        <input 
          type="location" 
          class="form-input" 
          name="location"
          disabled
          placeholder="Set Current Location"
          v-model="formData.current_location"
        >
      </div>

      <button id="login-btn" :style="{background: `${theme.primary}`, border: 0}" @click="_onSave">
        Save
      </button>

    </div>

  </div>
</template>

<style>
#todo-form-body {
  width: 100%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

#field-white-bg {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.left-padding-ic-con {
  width: 45px;
  padding-bottom: 2.5px;
  margin-right: 5px;
}

#time-start-immediate-wrapper {
  display: flex;
  flex-direction: row;
}

.reduce-width {
  width: 170px;
}

.ic-wrapper-sm {
  width: 45px;
}

.reduce-form-sm {
  width: 0px;
}

.mid-width {
  width: 220px;
  margin-left: 10px;
}

.reverse-color {
  border-width: 2px;
  border-color: #0073d1;
  border-style: solid;
}

.dp-custom-input {
  height: 50px;
}

#adj {
  width: 80px;
}

.fi-label {
  display: flex;
  align-items: center;
}

.labletype {
  display: flex;
  align-items: center;
}

#done-btn {
  margin-top: 20px;
  height: 35px;
  width: 100px;
}

#back-btn-wrapper {
  width: 98.2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
</style>

<style lang="scss">
@import 'vue3-date-time-picker/src/Vue3DatePicker/style/main.scss';
</style>