<script>
import Theme from '../../theme.json';
import useHooks from './hooks';
import useAuthHook from '../hooks';
import {useQuery, useQueryClient} from "vue-query";
import moment from 'moment';
import Locs from './country_list.json';
import server from '../../feathers-client';

export default {
  data() {
    return {
      theme: Theme,
      currentSelectedItem: null,
      processing: false
    }
  },
  setup() {
    const queryClient = useQueryClient();
    const {fetchTodos, deleteTodo, updateTodo} = useHooks();
    const {reAuth} = useAuthHook();
    const {data} = useQuery('CURRENT_LOGIN_USER', reAuth, {staleTime: Infinity, cacheTime: Infinity});
    
    if(!data.value) {
      window.location.assign("/")
    } else {
      const currentLoginUserId = data.value._id;
      const {data: todoList, status, isError, isFetching, isLoading} = useQuery(['TODO_LIST', currentLoginUserId], fetchTodos);
      
      return {
        queryClient,
        lists: todoList ? todoList : [],
        deleteTodo,
        updateTodo,
        data
      }
    }
  },
  methods: {
    _onLogout() {
      server.logout();
      this.queryClient.setQueryData('CURRENT_LOGIN_USER', null);
      this.$router.replace('/login');
    },
    moment: function () {
      return moment();
    },
    _onAddNewTodo() {
      this.$router.push('/new-todo')
    },
    _onSelectItem(id) {
      this.currentSelectedItem = id
    },
    _closeOverlay() {
      setTimeout(() => {
        this.currentSelectedItem = null;
      }, 200)
    },
    async _onClickUpdateLocation(id) {
      if(this.processing) return;

      try {
        this.processing = true
        
        const picker = Math.floor(Math.random() * 60);
        const selected_loc = Locs.locations[picker];

        setTimeout(() => {
          this.currentSelectedItem = null;
        }, 200)

        await this.updateTodo(id, selected_loc);
        this.processing = false;

        this.$toast.open({
          message: `Location successfully removed.`,
          position: 'top-right',
        });
      } catch (error) {
        this.processing = false;
        this.$toast.open({
          message: error.message,
          position: 'top-right',
          type: 'error'
        });
      }
    },
    async _onClickRmoveLocation(id) {
      if(this.processing) return;

      try {
        this.processing = true

        setTimeout(() => {
          this.currentSelectedItem = null;
        }, 200)
        
        await this.updateTodo(id, null);
        this.processing = false;

        this.$toast.open({
          message: `Location successfully removed.`,
          position: 'top-right',
        });
      } catch (error) {
        this.processing = false;
        this.$toast.open({
          message: error.message,
          position: 'top-right',
          type: 'error'
        });
      }
    },
    async _onDeleteItem(id) {
      if(this.processing) return;

      try {
        this.processing = true
        await this.deleteTodo(id);
        this.processing = false;
        this.$toast.open({
          message: `Todo has been successfully deleted.`,
          position: 'top-right',
        });
      } catch (error) {
        this.processing = false;
        this.$toast.open({
          message: error.message,
          position: 'top-right',
          type: 'error'
        });
      }
    },
    getDateProgress(start, end) {
      try {
        if(start && end) {

          return 0;
        }

        return 0;
      } catch (error) {
        this.$toast.open({
          message: error.message,
          position: 'top-right',
          type: 'error'
        });
      }
    }
  },
}
</script>


<template v-if="data">
  <div class="page-body">
    <div id="page-header" :style="{background: `${theme.primary}`}">
      <div class="side-header" id="header-title">MY TODOS</div>
      <div :style="{display: 'flex', flex: 1}"></div>
      <button class="side-header" id="logout-button" @click="_onLogout">
        <font-awesome-icon icon="right-from-bracket" :style="{color: `${theme.secondary}`}" size="2x" />
      </button>
    </div>

    <template v-if="processing">
      <div id="loading-screen">
        <ring-loader></ring-loader>
      </div>
    </template>

    <template v-if="!data">
      <div id="todo-list-body">
        <div id="list-empty">
          <ring-loader></ring-loader>
        </div>
      </div>
    </template>

    <template v-if="data">
      <div id="todo-list-body">
      
        <div id="add-new-wrapper"><button @click="_onAddNewTodo" id="add-todo-button"  :style="{background: `${theme.primary}`}">Add New Todo</button></div>

        <template v-if="lists?.length < 1">
          <div id="list-empty">
            <div>No data to be dislayed.</div>
            <button class="empty-list-btn" :style="{background: `${theme.primary}`}">Try Again</button>
            <button class="empty-list-btn" :style="{background: `${theme.primary}`}">Ad new Todo</button>
          </div>
        </template>

        <template v-if="lists?.length > 0">
          <div id="list-with-content">
            <div v-for="list in lists" :key="list._id">

              <div class="todo-container" @click="_onSelectItem(list._id)">

                <template v-if="list._id === currentSelectedItem && currentSelectedItem !== null">
                  <div id="overlay-crud-container">
                    <button class="crud-btns-top" @click="_onDeleteItem(list._id)">Delete</button>
                    <button class="crud-btns-top" @click="_onClickUpdateLocation(list._id)">Update Location</button>
                    <button class="crud-btns-top" @click="_onClickRmoveLocation(list._id)">Remove Location</button>
                    <button class="crud-btns-top" v-on:click="_closeOverlay()">Close</button>
                  </div>
                </template>
                
                <div id="info-container">
                  <div id="todo-name">{{list.name.length > 35 ? list.name.substring(0,35)+'...' : list.name}}</div>

                  <template v-if="list.isDone !== null && list.isDone === true">
                    <div class="sub-info" :style="{color: 'green'}">Complete</div>
                  </template>
                  <template v-if="list.isDone !== null && list.isDone === false">
                    <div class="sub-info" :style="{color: '#e0a500'}">{{moment(list.deadline).fromNow()}}</div>
                  </template>
                  
                  <div class="sub-info">{{list.description.length > 35 ? list.description.substring(0,35)+'...' : list.description}}</div>
                  <div class="sub-info">Location: {{list.current_location ? list.current_location : '-not set-'}}</div>
                </div>

                <div id="pbar-container">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="80px" height="80px">
                    <defs>
                      <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                      </linearGradient>
                    </defs>
                    <circle cx="40" cy="40" r="35" stroke-linecap="round" />
                  </svg>
                  <div id="pbar-label">{{getDateProgress(list.startedAt, list.deadline)}}%</div>
                </div>

              </div>

            </div>
          </div>
        </template>
      </div>
    </template>

  </div>
</template>

<style>
.page-body {
  width: 100%;
  height: 100vh;
}

#page-header {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
}

.side-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

#header-title {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

#logout-button {
  padding-right: 20px;
  background: transparent;
  border: 0;
}

#list-empty {
  width: 100%;
  height:93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-list-btn {
  border: 0;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
}

#todo-list-body {
  padding: 10px;
}

#list-with-content {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 70px;
}

.todo-container {
  width: 21rem;
  height: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(185, 185, 185);
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

#overlay-crud-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#info-container {
  flex: 1;
}
#pbar-container {
  width: 20x;
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-info {
  font-size: 12px;
}

#todo-name {
  font-weight: bold;
  font-size: 16;
}


#pbar-outer-circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#pbar-inner-circle {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
circle {
  fill: none;
  stroke: green;
  stroke-width: 7px;
  stroke-dasharray: 218;
  stroke-dashoffset: 0px;
  border-width: 1px;
}

#pbar-label {
  position: absolute;
}

.crud-btns-top {
  font-size: 12px;
  background: #1c5a8c;
  border: 0px;
  margin: 3px;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}

#add-todo-button {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  color: #fff;
  font-weight: bold;
}

#add-new-wrapper {
  width: 98.2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#loading-screen {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 20;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.411);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
</style>
