<script>
import server from '../feathers-client';
import {useQuery} from "vue-query";
import useAuthHook from './hooks.js';
import Theme from '../theme.json';

export default {
  data() {
    return {
      theme: Theme,
    }
  },
  setup() {
    const {reAuth} = useAuthHook();
    const authRes = useQuery('CURRENT_LOGIN_USER', reAuth, {staleTime: Infinity, cacheTime: Infinity});
    const {status, data, error} = authRes;

    return {status, data, error};
  },
  updated() {
    if(this.status === 'error') {
      this.$router.replace('/login');
    }

    if(this.status !== 'error' && this.data) {
      this.$router.replace('/todos');
    }
  }
}
</script>

<template>
  <main>
    <div id="landing_body" :style="{background: `${theme.primary}`}">
      <ring-loader></ring-loader>
      <div>{{status === 'loading' ? 'Authenticating' : ''}}</div>
    </div>
  </main>
</template>

<style scoped>
#landing_body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 24;
}
</style>