<template>
    <div id="list-with-content">
        <div v-for="list in lists" :key="list._id">
            <div class="todo-container">{{list.name}}</div>
          
        </div>
    </div>
</template>
