<script>
import Theme from '../../theme.json';
import {useQueryClient} from "vue-query";
import server from '../../feathers-client';

export default {
  data() {
    return {
      theme: Theme,
      processing: false,
      error: null,
      formData: {
        email: '',
        password: '',
        strategy: 'local',
      }
    }
  },
   setup() {
    const queryClient = useQueryClient();

    return {queryClient}
  },
  methods: {
    emailPassValidation(email, password) {
      return new Promise((resolve, reject) => {
        if(!email || !password) {
          reject({message: 'Email or Password must not be empty.'});
        }

        const regex = RegExp(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/);
        const checkforat = email.split('@');

        if(checkforat.length < 2) {
          reject({message: 'Email format is invalid.'});
        }

        const checkfordot = checkforat[1].split('.');
        if(checkforat.length < 3 && checkfordot.length < 4 && regex.test(email) && /\s/.test(email) === false) {
                    
        } else {
           reject({message: 'Email format is invalid.'});
        }

        if(password.length < 6) {
          reject({message: 'Password must be greater than 6 characters.'})
        }

        resolve('success');
      })
    },
    async _onLogin() {
      if(this.processing) return;

      this.processing = true;

      try {
        const valRes = await this.emailPassValidation(this.formData.email, this.formData.password);

        if(valRes !== 'success') return;

        const userService = server.service('users');
        const response = await server.authenticate(this.formData);
        const userInfo = await userService.get(response.user._id);

        this.queryClient.invalidateQueries('CURRENT_LOGIN_USER')

        this.processing = false;

        this.$router.replace('/todos');
      } catch (error) {
        this.processing = false;
        this.error = error.message;
      }
    },
  }
}
</script>

<template>
  <div class="login-container" :style="{background: `${theme.primary}`}">
    <div id="error-message">{{error}}</div>

    <div class="input-field">
      <div class="icon-container">
        <div class="icon-wrapper">
          <font-awesome-icon icon="envelope" :style="{color: `${theme.primary}`}" size="2x" />
        </div>
      </div>

      <input 
        type="email" 
        class="form-input" 
        name="email"
        placeholder="enter email"
        v-model="formData.email"
      >
    </div>

    <div class="input-field">
      <div class="icon-container">
        <div class="icon-wrapper">
          <font-awesome-icon icon="key" :style="{color: `${theme.primary}`}" size="2x" />
        </div>
      </div>

      <input 
        type="password" 
        class="form-input" 
        name="password"
        placeholder="enter password"
        v-model="formData.password"
      >
    </div>

    <button id="login-btn" :style="{background: `${theme.dark_primary}`}" @click="_onLogin">
      Login
    </button>

  </div>
</template>

<style>
.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 400px;
  background: #fff;
  height: 50px;
  border-radius: 150px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.icon-container {
  height: 50px;
  width: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-wrapper {
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  display: flex;
  flex: 1;
  border: 0;
  font-size: 16px;
}
.form-input:focus {
  outline: 0;
}

#login-btn {
  width: 400px;
  height: 50px;
  border-radius: 200px;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

#error-message {
  color: #ff8a8a;
  font-size: 15px;
  font-weight: bold;
}
</style>
